.md-visible{
    visibility: hidden;
}

@media (min-width: 768px) {
    .md-visible{
        visibility: visible;
        color: rgb(255, 3, 137);
    }
}

@media (min-width: 1200px) {
    .md-visible{
        visibility: visible;
        color: rgb(54, 155, 255);
    }
}