.md-visible{
    visibility: hidden;
}

@media (min-width: 768px) {
    .md-visible{
        visibility: visible;
        color: deeppink;
    }
}

@media (min-width: 1200px) {
    .md-visible{
        visibility: visible;
        color: dodgerblue;
    }
}